<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="harmonizationtool.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="gov.epa.nrmrl.std.lca.ht.perspectives.FlowData"
            id="gov.epa.nrmrl.std.lca.ht.perspectives.FlowData"
            name="Flow data">
      </perspective>
      <perspective
            class="gov.epa.nrmrl.std.lca.ht.perspectives.OriginalPerspective"
            id="gov.epa.nrmrl.std.lca.ht.perspectives.OriginalPerspective"
            name="Original Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="gov.epa.nrmrl.std.lca.ht.views.View"
            id="HarmonizationTool.view"
            name="Data File(s)"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.views.QueryView"
            id="HarmonizationTool.QueryViewID"
            name="Query"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.csvFiles.CSVTableView"
            id="gov.epa.nrmrl.std.lca.ht.csvFiles.csvTableView"
            name="CSVTableView"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.views.ResultsView"
            id="HarmonizationTool.ResultsViewID"
            name="Results"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.flowable.mgr.ResultsTreeEditor"
            id="HarmonizationTool.ResultsTreeEditorID"
            name="Results Tree Editor"
            restorable="true">
      </view>
      <view
            class="harmonizationtool.console.LightweightConsoleView"
            id="harmonizationtool.console.LightweightConsoleView"
            name="Light Weight Console"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.flowable.mgr.ControlView"
            id="harmonizationtool.tree.viewer.ControlView"
            name="Results Tree Control"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.compartment.mgr.HarmonizeCompartments"
            id="gov.epa.nrmrl.std.lca.ht.compartment.mgr.HarmonizeCompartments"
            name="Harmonize Compartments"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.job.JobStatusView"
            id="gov.epa.nrmrl.std.lca.ht.job.JobStatusView"
            name="Job Status View"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.workflows.FlowsWorkflow"
            id="gov.epa.nrmrl.std.lca.ht.workflows.FlowsWorkflow"
            name="Flows Workflow"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.log.LoggerViewer"
            id="harmonizationtool.console.LoggerViewer"
            name="Logger"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="gov.epa.nrmrl.std.lca.ht.perspectives.OriginalPerspective">
      </perspectiveExtension>
      <perspectiveExtension
            targetID="gov.epa.nrmrl.std.lca.ht.perspectives.FlowData">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="harmonizationtool.handler.ImportCSV"
                  label="Import CSV"
                  style="push">
            </command>
            <command
                  commandId="HarmonizationTool.TDB_Load"
                  label="Load RDF / XML data"
                  style="push">
            </command>
            <command
                  commandId="HarmonizationTool.SaveResults"
                  id="HarmonizationTool.SaveResults"
                  label="Save Results"
                  style="push">
            </command>
            <command
                  commandId="HarmonizationTool.TDB_Dump"
                  label="Dump entire TDB"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Data Set">
            <command
                  commandId="HarmonizationTool.EditMetadataId"
                  label="Edit Metadata"
                  style="push">
            </command>
            <command
                  commandId="HarmonizationTool.DeleteDataSetId"
                  label="Delete Dat Set"
                  style="push">
            </command>
         </menu>
         <menu
               label="Window Manager">
            <menu
                  label="Work Flows">
               <command
                     commandId="gov.epa.nrmrl.std.lca.ht.perspectives.OriginalPerspectiveHandler"
                     label="Show Perspectives"
                     style="push">
               </command>
            </menu>
            <menu
                  label="Data">
               <command
                     commandId="gov.epa.nrmrl.std.lca.ht.ShowFlowsWorkflowHandler"
                     label="Show Flows Workflow"
                     style="push">
               </command>
               <command
                     commandId="gov.epa.nrmrl.std.lca.ht.csvFiles.csvTableView"
                     label="Show CSV Table"
                     style="push">
               </command>
               <command
                     commandId="HarmonizationTool.ShowDataFilesView"
                     label="Show Data File(s)"
                     style="push">
               </command>
            </menu>
            <menu
                  label="Results">
               <command
                     commandId="HarmonizationTool.ShowResultsView"
                     label="Show Results View"
                     style="push">
               </command>
               <command
                     commandId="HarmonizationTool.ResultsTreeEditorID"
                     label="Show Results Tree Editor"
                     style="push">
               </command>
               <command
                     commandId="harmonizationtool.tree.viewer.ControlViewHandler"
                     label="Show Results Tree Control"
                     style="push">
               </command>
               <command
                     commandId="gov.epa.nrmrl.std.lca.ht.compartment.mgr.HarmonizeCompartments.ShowHarmonizeCompartmentsHandler"
                     label="Show Harmonize Compartments"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="harmonizationtool.handler.ShowLoggerViewerHandler"
                  label="Show Logger"
                  style="push">
            </command>
         </menu>
         <menu
               label="SPARQL">
            <command
                  commandId="HarmonizationTool.ShowQueryView"
                  label="Show Query View"
                  style="push">
            </command>
            <command
                  commandId="HarmonizationTool.extQueryID"
                  label="Query From File"
                  style="push"
                  tooltip="Run a (read-only) query from a file">
            </command>
            <command
                  commandId="HarmonizationTool.extUpdateID"
                  label="Update From File"
                  style="push"
                  tooltip="Run a (delete or insert) update from a file">
            </command>
         </menu>
         <menu
               label="Advanced">
            <command
                  commandId="harmonizationtool.tdb.select.id"
                  label="Open TDB"
                  style="push">
            </command>
            <command
                  commandId="harmonizationtool.handler.CloseTDB"
                  label="Close TDB"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:HarmonizationTool.QueryViewID">
         <command
               commandId="HarmonizationTool.TDB_Load"
               label="Load RDF / XML data"
               style="push">
         </command>
         <command
               commandId="HarmonizationTool.TDB_Dump"
               label="Dump entire TDB"
               style="push">
         </command>
         <command
               commandId="HarmonizationTool.extQueryID"
               label="Query From File"
               style="push"
               tooltip="Run a (read-only) query from a file">
         </command>
         <command
               commandId="HarmonizationTool.extUpdateID"
               label="Update From File"
               style="push"
               tooltip="Run a (delete or insert) update from a file">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="HarmonizationTool.application"
            name="Harmonization Tool">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Harmonization Tool">
         </property>
      </product>
   </extension>
   <extension
         id="HarmonizationTool.importTriplesID"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.tdb.SelectTDB"
            id="harmonizationtool.tdb.select.id"
            name="SelectTDB">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.ExtQueryHandler"
            id="HarmonizationTool.extQueryID"
            name="ExtQuery">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.ExtUpdateHandler"
            id="HarmonizationTool.extUpdateID"
            name="Ext Update">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.ImportTriplesHandler"
            id="HarmonizationTool.importTriplesID"
            name="Import Triples">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.ExportTriplesHandler"
            id="HarmonizationTool.exportTriplesID"
            name="Export Triples">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.ExportTDBHandler"
            id="HarmonizationTool.TDB_Dump"
            name="TDB Dump">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.ImportTDBHandler"
            id="HarmonizationTool.TDB_Load"
            name="TDB Load">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.csvFiles.SaveResultsHandler"
            id="HarmonizationTool.SaveResults"
            name="Save Results">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.ShowDataFilesView"
            id="HarmonizationTool.ShowDataFilesView"
            name="Show Data File(s) View">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.ShowQueryViewHandler"
            id="HarmonizationTool.ShowQueryView"
            name="Show Query View">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.ShowCSVTableViewHandler"
            id="gov.epa.nrmrl.std.lca.ht.csvFiles.csvTableView"
            name="Show CSV Table View">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.ShowResultsViewHandler"
            id="HarmonizationTool.ShowResultsView"
            name="Show Results View">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.ShowResultsTreeEditorHandler"
            id="HarmonizationTool.ResultsTreeEditorID"
            name="Show Results Tree Editor">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.ShowFlowsWorkflowHandler"
            id="gov.epa.nrmrl.std.lca.ht.ShowFlowsWorkflowHandler"
            name="Show FlowsWorkflow Compartments">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.CloseTDB"
            id="harmonizationtool.handler.CloseTDB"
            name="Close TDB">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.ImportCSV"
            id="harmonizationtool.handler.ImportCSV"
            name="Import CSV">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.EditMetadataHandler"
            id="HarmonizationTool.EditMetadataId"
            name="Edit Metadata">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.ShowLightWeightConsoleHandler"
            id="harmonizationtool.handler.ShowLightWeightConsoleHandler"
            name="Show Console">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.DeleteDataSetHandler"
            id="HarmonizationTool.DeleteDataSetId"
            name="Delete DataSet">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.flowable.mgr.ControlViewHandler"
            id="harmonizationtool.tree.viewer.ControlViewHandler"
            name="Show Control View">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.ShowLoggerViewerHandler"
            id="harmonizationtool.handler.ShowLoggerViewerHandler"
            name="Show Logger">
      </command>
      <command
            defaultHandler="harmonizationtool.handler.ShowPerspectiveHandler"
            id="gov.epa.nrmrl.std.lca.ht.perspectives.OriginalPerspectiveHandler"
            name="Show Perspectives">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="harmonizationtool.preferences.CuratorPreferences"
            id="harmonizationtool.preferences.UserPreferences"
            name="User Preferences">
      </page>
      <page
            class="harmonizationtool.preferences.DirectoryPreferences"
            id="harmonizationtool.preferences.DirectoryPreferences"
            name="Directories">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="harmonizationtool.preferences.Initializer">
      </initializer>
   </extension>

</plugin>
