<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="gov.epa.nrmrl.std.lca.ht.harmonizationtool.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="gov.epa.nrmrl.std.lca.ht.userInterfacePerspectives.LCIWorkflowPerspective"
            id="gov.epa.nrmrl.std.lca.ht.userInterfacePerspectives.LCIWorkflowPerspective"
            name="LCI Workflow Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="gov.epa.nrmrl.std.lca.ht.workflows.FlowsWorkflow"
            id="gov.epa.nrmrl.std.lca.ht.workflows.FlowsWorkflow"
            name="Inventory Workflow"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.csvFiles.CSVTableView"
            id="gov.epa.nrmrl.std.lca.ht.csvFiles.CSVTableView"
            name="User Data"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.log.LoggerViewer"
            id="gov.epa.nrmrl.std.lca.ht.log.LoggerViewer"
            name="Logger"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.flowContext.mgr.MatchContexts"
            id="gov.epa.nrmrl.std.lca.ht.flowContext.mgr.MatchContexts"
            name="Contexts"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.flowProperty.mgr.MatchProperties"
            id="gov.epa.nrmrl.std.lca.ht.flowProperty.mgr.MatchProperties"
            name="Units"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.flowable.mgr.MatchFlowables"
            id="gov.epa.nrmrl.std.lca.ht.flowable.MatchFlowableTableView"
            name="Flowables"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.sparql.QueryView"
            id="gov.epa.nrmrl.std.lca.ht.sparql.QueryView"
            name="SPARQL Query"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.sparql.ResultsView"
            id="gov.epa.nrmrl.std.lca.ht.views.ResultsView"
            name="SPARQL Results"
            restorable="true">
      </view>
      <!-- <view
            class="gov.epa.nrmrl.std.lca.ht.output.HarmonizedDataSelector"
            id="gov.epa.nrmrl.std.lca.ht.output.HarmonizedDataSelector"
            name="Output Harmonized Data"
            restorable="true">
      </view> -->
      <view
            class="gov.epa.nrmrl.std.lca.ht.job.jobStatus"
            id="gov.epa.nrmrl.std.lca.ht.job.jobStatus"
            name="Job Status"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="gov.epa.nrmrl.std.lca.ht.userInterfacePerspectives.LCIWorkflowPerspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="gov.epa.nrmrl.std.lca.ht.output.SaveHarmonizedDataForOLCAJsonldZip"
                  label="Export Harmonized Data..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Dataset">
            <command
                  commandId="HarmonizationTool.EditMetadataId"
                  label="Edit Metadata..."
                  style="push">
            </command>
            <command
                  commandId="HarmonizationTool.LoadDataSet"
                  label="Re-Load Dataset..."
                  style="push">
            </command>
         </menu>
         <menu
               label="Window Manager">
            <menu
                  label="Restore Views">
               <command
                     commandId="gov.epa.nrmrl.std.lca.ht.workflows.FlowsWorkflow"
                     label="Show Inventory Workflow"
                     style="push">
               </command>
               <command
                     commandId="gov.epa.nrmrl.std.lca.ht.csvFiles.CSVTableView"
                     label="Show User Data (Table)"
                     style="toggle">
               </command>
               <command
                     commandId="harmonizationtool.handler.GenericShowViewHandler"
                     label="Show Logger Window"
                     style="push">
               </command>
               <command
                     commandId="gov.epa.nrmrl.std.lca.ht.flowContext.mgr.MatchContexts"
                     label="Show Contexts Window"
                     style="push">
               </command>
               <command
                     commandId="gov.epa.nrmrl.std.lca.ht.flowProperty.mgr.MatchProperties"
                     label="Show Units Window"
                     style="push">
               </command>
               <command
                     commandId="gov.epa.nrmrl.std.lca.ht.flowable.MatchFlowableTableView"
                     label="Show Flowables Window"
                     style="push">
               </command>
               <!-- <command
                     commandId="gov.epa.nrmrl.std.lca.ht.handler.ShowHarmonizedDataSelectorHandler"
                     label="Show Harmonized Data Selector"
                     style="push">
               </command> -->
            </menu>
            <command
                  commandId="gov.epa.nrmrl.std.lca.ht.workflows.ResetPerspective"
                  label="Reset Perspective"
                  style="push">
            </command>
         </menu>
         <menu
               label="Advanced">
            <command
                  commandId="gov.epa.nrmrl.std.lca.ht.QueryView"
                  label="Show SPARQL Query Window"
                  style="push">
            </command>
            <command
                  commandId="gov.epa.nrmrl.std.lca.ht.ResultsView"
                  label="Show SPARQL Results Window"
                  style="push">
            </command>
            <command
                  commandId="gov.epa.nrmrl.std.lca.ht.csvFiles.SaveResultsHandler"
                  label="Save SPARQL Results..."
                  style="push">
            </command>
            <command
                  commandId="gov.epa.nrmrl.std.lca.ht.handler.ExtQueryHandler"
                  label="Run SPARQL Query From File..."
                  style="push"
                  tooltip="Run a (read-only) query from a file">
            </command>
            <command
                  commandId="gov.epa.nrmrl.std.lca.ht.handler.ExtUpdateHandler"
                  label="Run SPARQL Update From File..."
                  style="push"
                  tooltip="Run a (delete or insert) update from a file">
            </command>
            <command
                  commandId="gov.epa.nrmrl.std.lca.ht.handler.ExportTDBHandler"
                  label="Export entire TDB Database..."
                  style="push">
            </command>
            <command
                  commandId="gov.epa.nrmrl.std.lca.ht.handler.ImportReferenceDataHandler"
                  label="Load Reference Data List..."
                  style="push">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="harmonizationtool.handler.AboutHandler"
                  label="About..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:HarmonizationTool.QueryViewID">
         <command
               commandId="HarmonizationTool.TDB_Load"
               label="Load RDF / XML data"
               style="push">
         </command>
         <command
               commandId="HarmonizationTool.TDB_Dump"
               label="Dump entire TDB"
               style="push">
         </command>
         <command
               commandId="HarmonizationTool.extQueryID"
               label="Query From File"
               style="push"
               tooltip="Run a (read-only) query from a file">
         </command>
         <command
               commandId="HarmonizationTool.extUpdateID"
               label="Update From File"
               style="push"
               tooltip="Run a (delete or insert) update from a file">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="HarmonizationTool.application"
            name="LCA-Harmonization Tool">
         <property
               name="windowImages"
               value="icons/running_16x16.gif,icons/running_32x32.gif,icons/running_48x48.gif">
         </property>
         <property
               name="appName"
               value="LCA-Harmonization Tool">
         </property>
         <property
               name="aboutImage"
               value="icons/about_dialog_image.png">
         </property>
      </product>
   </extension>
   <extension
         id="HarmonizationTool.importTriplesID"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ExtQueryHandler"
            id="gov.epa.nrmrl.std.lca.ht.handler.ExtQueryHandler"
            name="Ext Query Command">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ExtUpdateHandler"
            id="gov.epa.nrmrl.std.lca.ht.handler.ExtUpdateHandler"
            name="Ext Update Command">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ImportTriplesHandler"
            id="HarmonizationTool.importTriplesID"
            name="Import Triples Command">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ExportTriplesHandler"
            id="HarmonizationTool.exportTriplesID"
            name="Export Triples Command">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ExportTDBHandler"
            id="gov.epa.nrmrl.std.lca.ht.handler.ExportTDBHandler"
            name="TDB Dump">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ImportReferenceDataHandler"
            id="gov.epa.nrmrl.std.lca.ht.handler.ImportReferenceDataHandler"
            name="Import Reference Data">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ImportUserData"
            id="gov.epa.nrmrl.std.lca.ht.handler.ImportUserData.rdf"
            name="Import User Data RDF">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.sparql.SaveResultsHandler"
            id="gov.epa.nrmrl.std.lca.ht.csvFiles.SaveResultsHandler"
            name="Save SPARQL Results">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowQueryViewHandler"
            id="gov.epa.nrmrl.std.lca.ht.QueryView"
            name="Show Query View">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowCSVTableViewHandler"
            id="gov.epa.nrmrl.std.lca.ht.csvFiles.CSVTableView"
            name="Show CSV Table View">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowMatchFlowableTableViewHandler"
            id="gov.epa.nrmrl.std.lca.ht.flowable.MatchFlowableTableView"
            name="Show Match Flowable Table View">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowMatchContextsHandler"
            id="gov.epa.nrmrl.std.lca.ht.flowContext.mgr.MatchContexts"
            name="Show Match Contexts View">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowMatchPropertiesHandler"
            id="gov.epa.nrmrl.std.lca.ht.flowProperty.mgr.MatchProperties"
            name="Show Match Properties View">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowFlowsWorkflowHandler"
            id="gov.epa.nrmrl.std.lca.ht.workflows.FlowsWorkflow"
            name="Show Flows Workflow Command">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ResetPerspectiveHandler"
            id="gov.epa.nrmrl.std.lca.ht.workflows.ResetPerspective"
            name="Reset Perspective Command">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ImportUserData"
            id="gov.epa.nrmrl.std.lca.ht.handler.ImportUserData"
            name="Import">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.EditMetadataHandler"
            id="HarmonizationTool.EditMetadataId"
            name="Edit Metadata">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.OpenDataSet"
            id="HarmonizationTool.LoadDataSet"
            name="Re-load data from TDB">
      </command>
      <!-- <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowHarmonizedDataSelectorHandler"
            id="gov.epa.nrmrl.std.lca.ht.handler.ShowHarmonizedDataSelectorHandler"
            name="Restore Data Selector">
      </command>  -->
      <!-- <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowHarmonizedDataSelectorHandler"
            id="gov.epa.nrmrl.std.lca.ht.output.HarmonizedDataSelector"
            name="Show Control View">
      </command> -->
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowLoggerViewerHandler"
            id="harmonizationtool.handler.ShowLoggerViewerHandler"
            name="Show Logger old">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowPerspectiveHandler"
            id="gov.epa.nrmrl.std.lca.ht.handler.ShowPerspectiveHandler"
            name="Show Perspectives">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.GenericShowViewHandler"
            id="harmonizationtool.handler.GenericShowViewHandler"
            name="Show Logger">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.AboutHandler"
            id="harmonizationtool.handler.AboutHandler"
            name="HelpAbout">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.CloseTDB"
            id="gov.epa.nrmrl.std.lca.ht.handler.CloseTDB"
            name="Close TDB">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.tdb.ActiveTDB"
            id="gov.epa.nrmrl.std.lca.ht.tdb.ActiveTDB"
            name="SelectTDB">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowFlowsWorkflowPerspectiveHandler"
            id="gov.epa.nrmrl.std.lca.ht.handler.ShowFlowsWorkflowPerspectiveHandler"
            name="Restore FlowsWorkflow Perspective">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.output.SaveHarmonizedDataForOLCAJsonldZip"
            id="gov.epa.nrmrl.std.lca.ht.output.SaveHarmonizedDataForOLCAJsonldZip"
            name="Export Harmonized Data (All Formats)">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowResultsViewHandler"
            id="gov.epa.nrmrl.std.lca.ht.ResultsView"
            name="Show Results View">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.output.SaveHarmonizedDataForOLCAJsonld"
            id="gov.epa.nrmrl.std.lca.ht.output.SaveHarmonizedDataForOLCAJsonld"
            name="Export Data to Jsonld">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="gov.epa.nrmrl.std.lca.ht.preferences.CuratorPreferences"
            id="harmonizationtool.preferences.UserPreferences"
            name="User Preferences">
      </page>
      <page
            class="gov.epa.nrmrl.std.lca.ht.preferences.DirectoryPreferences"
            id="harmonizationtool.preferences.DirectoryPreferences"
            name="Directories">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="gov.epa.nrmrl.std.lca.ht.preferences.Initializer">
      </initializer>
   </extension>

</plugin>
