<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="gov.epa.nrmrl.std.lca.ht.harmonizationtool.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="gov.epa.nrmrl.std.lca.ht.perspectives.FlowDataV1"
            id="gov.epa.nrmrl.std.lca.ht.perspectives.FlowDataV1"
            name="Flow data">
      </perspective>
      <perspective
            class="gov.epa.nrmrl.std.lca.ht.perspectives.FlowDataV2"
            id="gov.epa.nrmrl.std.lca.ht.perspectives.FlowDataV2"
            name="Flow data with MatchFlowable">
      </perspective>
      <perspective
            class="gov.epa.nrmrl.std.lca.ht.perspectives.OriginalPerspective"
            id="gov.epa.nrmrl.std.lca.ht.perspectives.OriginalPerspective"
            name="Original Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="gov.epa.nrmrl.std.lca.ht.workflows.FlowsWorkflow"
            id="gov.epa.nrmrl.std.lca.ht.workflows.FlowsWorkflow"
            name="Flows Workflow"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.log.LoggerViewer"
            id="gov.epa.nrmrl.std.lca.ht.log.LoggerViewer"
            name="Logger"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.csvFiles.CSVTableView"
            id="gov.epa.nrmrl.std.lca.ht.csvFiles.CSVTableView"
            name="CSV Table"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.flowable.mgr.MatchFlowableTableView"
            id="gov.epa.nrmrl.std.lca.ht.flowable.MatchFlowableTableView"
            name="Match Flowables Tool"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.flowContext.mgr.MatchContexts"
            id="gov.epa.nrmrl.std.lca.ht.flowContext.mgr.MatchContexts"
            name="Match Contexts Tool"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.flowProperty.mgr.MatchProperties"
            id="gov.epa.nrmrl.std.lca.ht.flowProperty.mgr.MatchProperties"
            name="Match Properties Tool"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.sparql.QueryView"
            id="gov.epa.nrmrl.std.lca.ht.sparql.QueryView"
            name="SPARQL Query"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.sparql.ResultsView"
            id="gov.epa.nrmrl.std.lca.ht.views.ResultsView"
            name="SPARQL Results"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.flowable.mgr.ResultsTreeEditor"
            id="gov.epa.nrmrl.std.lca.ht.flowable.mgr.ResultsTreeEditor"
            name="Results Tree Editor"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.log.LightweightConsoleView"
            id="harmonizationtool.console.LightweightConsoleView"
            name="Light Weight Console"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.flowable.mgr.ControlView"
            id="harmonizationtool.tree.viewer.ControlView"
            name="Results Tree Control"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.harmonizationtool.ViewPart1"
            id="HarmonizationTool.view1"
            name="name"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.views.View"
            id="HarmonizationTool.view"
            name="Data File(s)"
            restorable="true">
      </view>
      <view
            class="gov.epa.nrmrl.std.lca.ht.job.JobStatusView"
            id="gov.epa.nrmrl.std.lca.ht.job.JobStatusView"
            name="Job Status View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="gov.epa.nrmrl.std.lca.ht.perspectives.OriginalPerspective">
      </perspectiveExtension>
      <perspectiveExtension
            targetID="gov.epa.nrmrl.std.lca.ht.perspectives.FlowDataV1">
      </perspectiveExtension>
      <perspectiveExtension
            targetID="gov.epa.nrmrl.std.lca.ht.perspectives.FlowDataV2">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="HarmonizationTool.TDB_Load"
                  label="Load RDF / XML data"
                  style="push">
            </command>
            <command
                  commandId="gov.epa.nrmrl.std.lca.ht.csvFiles.SaveResultsHandler"
                  label="Save SPARQL Results"
                  style="push">
            </command>
            <command
                  commandId="HarmonizationTool.TDB_Dump"
                  label="Export entire TDB"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Data Set">
            <command
                  commandId="HarmonizationTool.EditMetadataId"
                  label="Edit Metadata"
                  style="push">
            </command>
         </menu>
         <menu
               label="Window Manager">
            <menu
                  label="Perspectives">
               <command
                     commandId="gov.epa.nrmrl.std.lca.ht.perspectives.OriginalPerspectiveHandler"
                     label="Perspective switcher"
                     style="push">
               </command>
            </menu>
            <menu
                  label="Views">
               <command
                     commandId="gov.epa.nrmrl.std.lca.ht.workflows.FlowsWorkflow"
                     label="Show Flows Workflow"
                     style="push">
               </command>
               <command
                     commandId="harmonizationtool.handler.GenericShowViewHandler"
                     label="Show Logger"
                     style="push">
               </command>
               <command
                     commandId="gov.epa.nrmrl.std.lca.ht.csvFiles.CSVTableView"
                     label="Show CSV Table View"
                     style="toggle">
               </command>
               <command
                     commandId="gov.epa.nrmrl.std.lca.ht.flowable.MatchFlowableTableView"
                     label="Show Match Flowables Tool"
                     style="push">
               </command>
               <command
                     commandId="gov.epa.nrmrl.std.lca.ht.flowContext.mgr.MatchContexts"
                     label="Show Match Contexts Tool"
                     style="push">
               </command>
               <command
                     commandId="gov.epa.nrmrl.std.lca.ht.flowProperty.mgr.MatchProperties"
                     label="Show Match Properties Tool"
                     style="push">
               </command>
            </menu>
         </menu>
         <menu
               label="SPARQL">
            <command
                  commandId="gov.epa.nrmrl.std.lca.ht.QueryView"
                  label="Show Query View"
                  style="push">
            </command>
            <command
                  commandId="gov.epa.nrmrl.std.lca.ht.ResultsView"
                  label="Show Query Results"
                  style="push">
            </command>
            <command
                  commandId="gov.epa.nrmrl.std.lca.ht.handler.ExtQueryHandler"
                  label="Query From File"
                  style="push"
                  tooltip="Run a (read-only) query from a file">
            </command>
            <command
                  commandId="gov.epa.nrmrl.std.lca.ht.handler.ExtUpdateHandler"
                  label="Update From File"
                  style="push"
                  tooltip="Run a (delete or insert) update from a file">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="harmonizationtool.handler.AboutHandler"
                  label="About..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:HarmonizationTool.QueryViewID">
         <command
               commandId="HarmonizationTool.TDB_Load"
               label="Load RDF / XML data"
               style="push">
         </command>
         <command
               commandId="HarmonizationTool.TDB_Dump"
               label="Dump entire TDB"
               style="push">
         </command>
         <command
               commandId="HarmonizationTool.extQueryID"
               label="Query From File"
               style="push"
               tooltip="Run a (read-only) query from a file">
         </command>
         <command
               commandId="HarmonizationTool.extUpdateID"
               label="Update From File"
               style="push"
               tooltip="Run a (delete or insert) update from a file">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="HarmonizationTool.application"
            name="LCA Harmonization Tool">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="LCA Harmonization Tool">
         </property>
      </product>
   </extension>
   <extension
         id="HarmonizationTool.importTriplesID"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ExtQueryHandler"
            id="gov.epa.nrmrl.std.lca.ht.handler.ExtQueryHandler"
            name="Ext Query Command">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ExtUpdateHandler"
            id="gov.epa.nrmrl.std.lca.ht.handler.ExtUpdateHandler"
            name="Ext Update Command">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ImportTriplesHandler"
            id="HarmonizationTool.importTriplesID"
            name="Import Triples Command">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ExportTriplesHandler"
            id="HarmonizationTool.exportTriplesID"
            name="Export Triples Command">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ExportTDBHandler"
            id="HarmonizationTool.TDB_Dump"
            name="TDB Dump">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ImportTDBHandler"
            id="HarmonizationTool.TDB_Load"
            name="TDB Load">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.csvFiles.SaveResultsHandler"
            id="gov.epa.nrmrl.std.lca.ht.csvFiles.SaveResultsHandler"
            name="Save SPARQL Results">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowQueryViewHandler"
            id="gov.epa.nrmrl.std.lca.ht.QueryView"
            name="Show Query View">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowCSVTableViewHandler"
            id="gov.epa.nrmrl.std.lca.ht.csvFiles.CSVTableView"
            name="Show CSV Table View">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowMatchFlowableTableViewHandler"
            id="gov.epa.nrmrl.std.lca.ht.flowable.MatchFlowableTableView"
            name="Show Match Flowable Table View">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowMatchContextsHandler"
            id="gov.epa.nrmrl.std.lca.ht.flowContext.mgr.MatchContexts"
            name="Show Match Contexts View">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowMatchPropertiesHandler"
            id="gov.epa.nrmrl.std.lca.ht.flowProperty.mgr.MatchProperties"
            name="Show Match Properties View">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowResultsViewHandler"
            id="gov.epa.nrmrl.std.lca.ht.ResultsView"
            name="Show Results View">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowResultsTreeEditorHandler"
            id="gov.epa.nrmrl.std.lca.ht.handler.ShowResultsTreeEditorHandler"
            name="Show Results Tree Editor">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowFlowsWorkflowHandler"
            id="gov.epa.nrmrl.std.lca.ht.workflows.FlowsWorkflow"
            name="Show Flows Workflow Command">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ImportCSV"
            id="gov.epa.nrmrl.std.lca.ht.handler.ImportCSV"
            name="Import CSV">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.EditMetadataHandler"
            id="HarmonizationTool.EditMetadataId"
            name="Edit Metadata">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowLightWeightConsoleHandler"
            id="harmonizationtool.handler.ShowLightWeightConsoleHandler"
            name="Show Console">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.flowable.mgr.ControlViewHandler"
            id="harmonizationtool.tree.viewer.ControlViewHandler"
            name="Show Control View">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowLoggerViewerHandler"
            id="harmonizationtool.handler.ShowLoggerViewerHandler"
            name="Show Logger old">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.ShowPerspectiveHandler"
            id="gov.epa.nrmrl.std.lca.ht.perspectives.OriginalPerspectiveHandler"
            name="Show Perspectives">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.GenericShowViewHandler"
            id="harmonizationtool.handler.GenericShowViewHandler"
            name="Show Logger">
         <commandParameter
               id="HarmonizationTool.commandParameter1"
               name="Name"
               optional="true">
            <values
                  class="gov.epa.nrmrl.std.lca.ht.harmonizationtool.ParameterValues1">
            </values>
         </commandParameter>
      </command>
      <command
            id="HarmonizationTool.command1"
            name="About...">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.AboutHandler"
            id="harmonizationtool.handler.AboutHandler"
            name="HelpAbout">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.handler.CloseTDB"
            id="gov.epa.nrmrl.std.lca.ht.handler.CloseTDB"
            name="Close TDB">
      </command>
      <command
            defaultHandler="gov.epa.nrmrl.std.lca.ht.tdb.ActiveTDB"
            id="gov.epa.nrmrl.std.lca.ht.tdb.ActiveTDB"
            name="SelectTDB">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="gov.epa.nrmrl.std.lca.ht.preferences.CuratorPreferences"
            id="harmonizationtool.preferences.UserPreferences"
            name="User Preferences">
      </page>
      <page
            class="gov.epa.nrmrl.std.lca.ht.preferences.DirectoryPreferences"
            id="harmonizationtool.preferences.DirectoryPreferences"
            name="Directories">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="gov.epa.nrmrl.std.lca.ht.preferences.Initializer">
      </initializer>
   </extension>

</plugin>
